.Container {
  display: flex;
  flex-direction: column;
}

.Container > div {
  display: flex;
  width: 100%;
  padding: 12px 0;
  gap: 12px;
  margin: 0 auto;
}
.Container > div:first-child {
  justify-content: center;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 8px 0;
}

.Container > div > button {
  all: unset;
  width: 120px;
  height: 50px;
  background-color: var(--mainBlueColor);
  color: var(--secondFontColor);
  text-align: center;
  border-radius: 8px;

  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.Container > div:first-child > button:hover {
  opacity: 0.8;
  scale: 1.01;
}

.Container label {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.Container label > input {
  height: 32px;
  border-radius: 8px;
  border: 1px solid lightgrey;
  padding: 0 8px;
}

.Container > button {
  all: unset;
  margin: 0 auto;
  height: 40px;
  width: 100px;
  text-align: center;
  color: var(--secondFontColor);
  background-color: var(--mainBlueColor);
  padding: 0 16px;
  border-radius: 8px;

  cursor: pointer;
}

.Active {
  background-color: var(--secondaryBlueColor) !important;
}
