.TableRole {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.TableRole td {
  padding: 0 12px;
  height: 36px;
}

.TableRole button {
  all: unset;
  cursor: pointer;
}

.TableRole svg {
  color: var(--mainBlueColor);
}

.Credito {
  color: var(--mainGreenColor);
}

.Debito {
  color: var(--mainRedColor);
}
