.form {
  display: flex;
  flex-direction: column;
}

.form > button {
  all: unset;
  width: 100%;
  text-align: center;
  background-color: var(--mainBlueColor);
  color: var(--mainWhiteColor);
  height: 32px;
  border-radius: 8px;

  margin-top: 12px;
  margin-bottom: 12px;

  font: var(--fontnormal);
}

.form > a {
  text-align: center;
}
.form > a > span {
  font-weight: bold;
  text-decoration: underline;
}
